$font_size_9: 0.64rem;
$font_size_10: 0.7rem;
$font_size_11: 0.78rem;
$font_size_12: 0.86rem;
$font_size_13: 0.93rem;
$font_size_14: 1rem;
$font_size_15: 1.07rem;
$font_size_16: 1.15rem;
$font_size_17: 1.21rem;
$font_size_18: 1.3rem;
$font_size_19: 1.38rem;
$font_size_20: 1.46rem;
$font_size_21: 1.53rem;
$font_size_22: 1.6rem;
$font_size_23: 1.66rem;
$font_size_24: 1.73rem;
$font_size_32: 2.24rem;
$font_size_36: 2.57rem;
$font_size_48: 3.43rem;
