// blues
$portfolio-blue-1: #c4ddff;
$portfolio-blue-2: #7fb5ff;
$portfolio-blue-3: #001d6e;
$portfolio-blue-4: #112b3c;

// variable mappers
$portfolio-bg-blue-1: $portfolio-blue-1;
$portfolio-button-blue-1: $portfolio-blue-2;
$portfolio-border-blue-1: $portfolio-blue-3;
$portfolio-heading-blue-1: $portfolio-blue-4;
